<div class="card">
  <p>
    This is a <a target="_blank" href="https://en.wikipedia.org/wiki/Rube_Goldberg_machine">Rube Goldberg Machine</a> of the <a target="_blank" href="https://cloud.google.com/vision/">Google Cloud Vision API</a> and the <a target="_blank" href="https://www.mediawiki.org/wiki/API:Main_page">MediaWiki API</a>. 
  </p>
  
  <p>
    The Google Vision API is responsible for fetching keywords relevant to the uploaded image (<a target="_blank" href="https://cloud.google.com/vision/docs/detecting-web">Web Detection feature</a>). The MediaWiki API will search Wikipedia using the Web Detection's result, and give you the first condensed Wikipedia page for a quick-read.
  </p>

  <p>
    This was originally meant for scanning LP album covers, but it may also work with other things, assuming it has a designated Wikipedia page.
  </p>
  
  <p>
    For example, you can try it with a book cover, a video game cover, or a face. 
  </p>
</div>

<a href="https://github.com/aMahanna/rbwiki">
  <img src="https://img.icons8.com/fluent-systems-filled/24/000000/github.png"/>
</a> 




