<form class="box" id="cover-form" action="/info" method="post" enctype="multipart/form-data">
  <div class="box__input">
    <input class="box__file" type="file" name="file" id="album-cover-image" onchange="submitCoverFormOnChange()"/>
    <label id="camera-label" for="album-cover-image">
      <img id="camera-image" src="https://cdn.glitch.com/94c70e5c-2d94-482a-9cff-7c0913fe4eb5%2Fcamera-with-flash_1f4f8.png?1525140907300">
      <span id="camera-label-text">
        <strong>Click to upload a picture</strong><span class="box__dragndrop"> or drag & drop one here</span>.
      </span>
    </label>
    <button class="box__button" type="submit">Upload</button>
  </div>
  <div class="box__uploading">Uploading&hellip;</div>
  <div class="box__success">Done</div>
  <div class="box__error">Error <span></span>.</div>
</form>

<div id="vinyl">
  <img id="viny-logo" class="rotate" src="https://www.pngrepo.com/download/244358/vinyl.png">
</div>

