<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Rube's Wiki</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="favicon" rel="icon" href="https://www.pngrepo.com/download/244358/vinyl.png" type="image/x-icon">
  </head>
  
  <body>
  
    <style> 
      body {
        background-image: url({{background}});
        background-repeat: round;
      }
    </style>
    
    <div class="card" id="site-title">
      <h1>
        <a href="/">Rube's Wiki</a>
      </h1>
    </div>
    
    <div>

    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
    
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    
    {{{body}}}   
    
    <script src="script.js"></script>
  </body>
</html>